#no-mobile {
  background-color: var(--yellow);
  position: fixed;
  height: 100vh;
  width: 100vw;
  top: 0;
  z-index: 400;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 32px;
}

#no-landscape {
  display: none;
  background-color: var(--yellow);
  position: fixed;
  height: 100vh;
  width: 105vw;
  top: 0;
  z-index: 290;
}

@media screen and (max-width: 645px) {
  #no-mobile {
    display: none;
  }
}

@media (orientation: landscape) {
  #no-landscape {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 28px;
    top: 0;
  }
}
